.container, .content {
  margin: 0 auto;
  padding: 0 40pt;
  max-width: 800px;
}

.container {
  text-align: center;
}


#content {
  margin: 0 auto;
  padding: 0 3vw;
  max-width: 500px;
  text-align: left;
}

#main {
  padding: 10%;
  
  h1.title {
    margin: 0;
    padding-bottom: $paddingDefault;
  }
  
  img {
    max-width: 100%;
  }
  
}


#bio {
  font-size: 180%;
  font-weight: 300;
  line-height: 120%;
  
  p {
    margin: 40pt 0;
  }
}


#mugshot {
  width: 250px;
  border-radius: 50%;
  border: 20pt solid transparentize($heroLight, 0.5);
//  border-bottom: 5pt solid $heroLight;
//  box-shadow: 3px 12pt 50px transparentize($heroLight, 0.25);
}