.container {
  text-align: center;
  margin: 0 auto;
  padding: 0 40pt;
  max-width: 500px;
}

#main {
  padding: 10%;
  color: $hero;
  background-color: $heroLighter;
  
  h1.title {
    margin: 0;
    padding-bottom: $paddingDefault;
  }
  
}


#bio {
  font-family: 'Arial Black', 'Arial';
  font-size: 180%;
  font-weight: 900;
  line-height: 120%;
}
