#footer {
  
  padding: $paddingDefault*2;
  color: $heroDark;
  
  a {
    color: $heroLight;
    text-decoration: none;
  }
  
  img#mugshot {
    margin-top: -150px;
    max-height: 200px;
  }
  
}