html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  
  color: $hero;
  background-color: $white;
  font-size: $fontSizeDefault;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}  

p {
  margin: $fontSizeDefault 0;
}

em {
  font-style: italic;
  font-family: Times;
}

a {
  color: $hero;
  text-decoration: underline;


  &:hover {
   color: $contrast; 
  }
}


h1, h2, h3, h4 {
  font-weight: 800;
  letter-spacing: -0.05em;
  margin-top: $paddingDefault*2;
  margin-bottom: 0;
}

h1 {
  font-size: $fontSizeDefault*3;
  font-weight: 300;
}     

h2 {
  margin: 0 -$paddingDefault*2;
  margin-top: $paddingDefault*7;
  padding: $paddingDefault*2;
  border-top: 3pt $white solid;
}

  
h3, h4 {  
  font-weight: bold;
}

