@media (max-width: 800px) {
  
  body {
    .container {
      margin: 0;
      padding: 0;
    }
    
    #bio {
      font-size: $fontSizeMobile*2;
    }
    
    #mugshot {
      max-width: 70%;
    }
    
    #footer {
      padding: $paddingDefault;
    }
  }
}

//@media (max-width: 600px) {
//
//  body {
//  font-size: $fontSizeMobile;
//    background-color: #CC0920;
//  }
//}