
$color-base: #8BD500; // #0099ec; //#282828; // #313131
$color-complementary: #EFF126;
$color-light: lighten($color-base, 20%);
$color-background: #fff;
$color-body: #133f62;


// =========
// = fonts =
// =========

$font-family-headers: Helvetica, Arial, sans-serif;
$font-family-copy: Helvetica, Arial, sans-serif;

$font-size-base: 14px;