@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 38em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
  }
}

@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
  }
}
